button {
    padding: 10px;
    cursor: pointer;
    border-radius: 6px;
    width: fit-content;
    height: fit-content;
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}

.default {
    background: #e0e0e0;
    box-shadow: 0px 2px 3px rgba(51, 51, 51, 0.2);
    transition: background 0.2s;
}

.default:hover,
.default:focus {
    background: #aeaeae;
}

.outline {
    border: 1px solid #3d5afe;
    background: none;
    color: #3d5afe;
}

.outline:hover,
.outline:focus {
    background: rgba(41, 98, 255, 0.1);
}

.text {
    background: none;
    color: #3d5afe;
}

.text:hover,
.text:focus {
    background: rgba(41, 98, 255, 0.1);
}

.primary {
    background: #2962ff;
    color: #ffffff;
}

.primary:hover,
.primary:focus {
    background: #0039cb;
    color: #ffffff;
}

.secondary {
    background: #455a64;
    color: #ffffff;
}

.secondary:hover,
.secondary:focus {
    background: #1c313a;
    color: #ffffff;
}

.danger {
    background: #d32f2f;
    color: #ffffff;
}

.danger:hover,
.danger:focus {
    background: #9a0007;
    color: #ffffff;
}

.disableShadow {
    box-shadow: none;
    background: #2962ff;
    color: #ffffff;
}

.sm {
    width: 73px;
    height: 32px;
}

.md {
    width: 81px;
    height: 36px;
}

.lg {
    width: 93px;
    height: 42px;
}
